/* app/globals.css */
@import "tailwindcss";

/* ========================================== CUSTOM THEME */
@theme {
  /* Custom Colors */
  --color-green-500: #24ae7c;
  --color-green-600: #0d2a1f;

  --color-blue-500: #79b5ec;
  --color-blue-600: #152432;

  --color-red-500: #f37877;
  --color-red-600: #3e1716;
  --color-red-700: #f24e43;

  --color-light-200: #e8e9e9;

  --color-dark-200: #0d0f10;
  --color-dark-300: #131619;
  --color-dark-400: #1a1d21;
  --color-dark-500: #363a3d;
  --color-dark-600: #76828d;
  --color-dark-700: #abb8c4;

  /* Background Images */
  --background-image-appointments: url("/assets/images/appointments-bg.png");
  --background-image-pending: url("/assets/images/pending-bg.png");
  --background-image-cancelled: url("/assets/images/cancelled-bg.png");
}

/* ========================================== BASE STYLES */
@layer base {
  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

/* ========================================== UTILITIES */
@layer utilities {
  /* ===== CUSTOM UTILITIES */
  .remove-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* ===== LAYOUT */
  .sidebar {
    width: 100%;
    max-width: 18rem;
    flex-direction: column;
    overflow: auto;
    background-color: #000;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .left-sidebar {
    display: none;
  }

  @media (min-width: 1024px) {
    .left-sidebar {
      display: flex;
    }
  }

  .right-sidebar {
    display: none;
  }

  @media (min-width: 1280px) {
    .right-sidebar {
      display: flex;
    }
  }

  .clip-text {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .bg-image {
    background-color: #111827;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    .header {
      font-size: 36px;
      line-height: 40px;
    }
  }

  .sub-header {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    .sub-header {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .container {
    position: relative;
    flex: 1;
    overflow-y: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .sub-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .side-img {
    display: none;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 768px) {
    .side-img {
      display: block;
    }
  }

  .copyright {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    justify-items: end;
    text-align: center;
    color: var(--color-dark-600);
  }

  @media (min-width: 1280px) {
    .copyright {
      text-align: left;
    }
  }

  /* ==== SUCCESS */
  .success-img {
    margin: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .request-details {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-top: 2px solid var(--color-dark-400);
    border-bottom: 2px solid var(--color-dark-400);
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media (min-width: 768px) {
    .request-details {
      width: fit-content;
      flex-direction: row;
    }
  }

  /* ===== ADMIN */
  .admin-header {
    position: sticky;
    top: 0.75rem;
    z-index: 20;
    margin: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: var(--color-dark-200);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  }

  @media (min-width: 1280px) {
    .admin-header {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  .admin-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3rem;
  }

  @media (min-width: 1280px) {
    .admin-main {
      gap: 3rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  .admin-stat {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
  }

  @media (min-width: 640px) {
    .admin-stat {
      flex-direction: row;
    }
  }

  @media (min-width: 1280px) {
    .admin-stat {
      gap: 2.5rem;
    }
  }

  /* ==== FORM */
  .radio-group {
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    border: 1px dashed var(--color-dark-500);
    background-color: var(--color-dark-400);
    padding: 0.75rem;
  }

  .checkbox-label {
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-dark-700);
  }

  @media (min-width: 768px) {
    .checkbox-label {
      line-height: 1;
    }
  }

  /* ==== File Upload */
  .file-upload {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    border-radius: 0.375rem;
    border: 1px dashed var(--color-dark-500);
    background-color: var(--color-dark-400);
    padding: 1.25rem;
  }

  .file-upload_label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    color: var(--color-dark-600);
  }

  /* ==== Stat Card */
  .stat-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
    background-size: cover;
    padding: 1.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  }

  /* ==== Status Badge */
  .status-badge {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 0.5rem;
    border-radius: 9999px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  /* Data Table */
  .data-table {
    z-index: 10;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1px solid var(--color-dark-400);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  }

  .table-actions {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1rem;
  }

  /* ===== ALIGNMENTS */
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* ===== TYPOGRAPHY */
  .text-36-bold {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
  }

  .text-24-bold {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }

  .text-32-bold {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
  }

  .text-18-bold {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  .text-16-semibold {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }

  .text-16-regular {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .text-14-medium {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }

  .text-14-regular {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }

  .text-12-regular {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .text-12-semibold {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }

  /* =====  SHADCN OVERRIDES */
  .shad-primary-btn {
    background-color: var(--color-green-500) !important;
    color: white !important;
  }

  .shad-danger-btn {
    background-color: var(--color-red-700) !important;
    color: white !important;
  }

  .shad-gray-btn {
    border: 1px solid var(--color-dark-500) !important;
    cursor: pointer !important;
    background-color: var(--color-dark-400) !important;
    color: white !important;
  }

  .shad-input-label {
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    color: var(--color-dark-700) !important;
  }

  .shad-input {
    background-color: var(--color-dark-400) !important;
    border: 1px solid var(--color-dark-500) !important;
    height: 2.75rem !important;
  }

  .shad-input::placeholder {
    color: var(--color-dark-600) !important;
  }

  .shad-input:focus-visible {
    ring: 0 !important;
    ring-offset: 0 !important;
  }

  .shad-input-icon {
    background-color: var(--color-dark-400) !important;
    border: 1px solid var(--color-dark-500) !important;
    height: 2.75rem !important;
  }

  .shad-input-icon::placeholder {
    color: var(--color-dark-600) !important;
  }

  .shad-input-icon:focus-visible {
    ring: 0 !important;
    ring-offset: 0 !important;
  }

  .shad-textArea {
    background-color: var(--color-dark-400) !important;
    border: 1px solid var(--color-dark-500) !important;
  }

  .shad-textArea::placeholder {
    color: var(--color-dark-600) !important;
  }

  .shad-textArea:focus-visible {
    ring: 0 !important;
    ring-offset: 0 !important;
  }

  .shad-combobox-item[data-disabled="true"] {
    pointer-events: none !important;
    opacity: 0.5 !important;
  }

  .shad-combobox-trigger {
    height: 2.75rem !important;
  }

  .shad-select-trigger {
    background-color: var(--color-dark-400) !important;
    border: 1px solid var(--color-dark-500) !important;
    height: 2.75rem !important;
  }

  .shad-select-trigger::placeholder {
    color: var(--color-dark-600) !important;
  }

  .shad-select-trigger:focus {
    ring: 0 !important;
    ring-offset: 0 !important;
  }

  .shad-select-content {
    background-color: var(--color-dark-400) !important;
    border: 1px solid var(--color-dark-500) !important;
  }

  .shad-dialog {
    background-color: var(--color-dark-400) !important;
    border: 1px solid var(--color-dark-500) !important;
  }

  .shad-dialog button:focus {
    ring: 0 !important;
    ring-offset: 0 !important;
  }

  .shad-dialog button:focus-visible {
    border: none !important;
    outline: none !important;
    ring: transparent !important;
    ring-offset: 0 !important;
  }

  .shad-error {
    color: #f87171 !important;
  }

  .shad-table {
    border-radius: 0.5rem !important;
    overflow: hidden !important;
  }

  .shad-table-row-header {
    border-bottom: 1px solid var(--color-dark-400) !important;
    color: var(--color-light-200) !important;
  }

  .shad-table-row-header:hover {
    background-color: transparent !important;
  }

  .shad-table-row {
    border-bottom: 1px solid var(--color-dark-400) !important;
    color: var(--color-light-200) !important;
  }

  .shad-otp {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
  }

  .shad-otp-slot {
    font-size: 36px !important;
    line-height: 40px !important;
    font-weight: 700 !important;
    display: flex !important;
    justify-content: center !important;
    border: 1px solid var(--color-dark-500) !important;
    border-radius: 0.5rem !important;
    width: 4rem !important;
    height: 4rem !important;
    gap: 1rem !important;
  }

  .shad-alert-dialog {
    gap: 1.25rem !important;
    background-color: var(--color-dark-400) !important;
    border: 1px solid var(--color-dark-500) !important;
    outline: none !important;
  }

  .shad-sheet-content button {
    top: 0.5rem !important;
  }

  .shad-sheet-content button:focus {
    ring: 0 !important;
    ring-offset: 0 !important;
  }

  .shad-sheet-content button:focus-visible {
    border: none !important;
    outline: none !important;
    ring: transparent !important;
    ring-offset: 0 !important;
  }

  /* =====  REACT PHONE NUMBER INPUT OVERRIDES */
  .input-phone {
    margin-top: 0.5rem !important;
    height: 2.75rem !important;
    border-radius: 0.375rem !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    font-size: 0.875rem !important;
    border: 1px solid var(--color-dark-500) !important;
    background-color: var(--color-dark-400) !important;
  }

  .input-phone::placeholder {
    color: var(--color-dark-600) !important;
  }

  /* =====  REACT DATE PICKER OVERRIDES */
  .date-picker {
    overflow: hidden !important;
    border: transparent !important;
    width: 100% !important;
    height: 2.75rem !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    border-radius: 0.375rem !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    outline: none !important;
  }

  .date-picker::placeholder {
    color: var(--color-dark-600) !important;
  }
}

/* =====  REACT-DATEPICKER OVERRIDES */
.react-datepicker-wrapper.date-picker {
  display: flex;
  align-items: center;
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
  background-color: #1a1d21 !important;
  border-color: #363a3d !important;
  color: #abb8c4 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #ffffff !important;
}

.react-datepicker__triangle {
  fill: #1a1d21 !important;
  color: #1a1d21 !important;
  stroke: #1a1d21 !important;
}

.react-datepicker__time-list-item:hover {
  background-color: #363a3d !important;
}

.react-datepicker__input-container input {
  background-color: #1a1d21 !important;
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: #24ae7c !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #24ae7c !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #363a3d !important;
}

.react-datepicker__time-list-item {
  display: flex !important;
  align-items: center !important;
}

/* =====  REACT PHONE NUMBER INPUT OVERRIDES */
.PhoneInputInput {
  outline: none;
  margin-left: 4px;
  background: #1a1d21;
  font-size: 14px;
  font-weight: 500;
}

.PhoneInputInput::placeholder {
  color: #76828d;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
